In [13]:
# Cargando librerias
import gc
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import datetime

from sklearn.preprocessing import LabelEncoder

from itertools import product
from xgboost import XGBRegressor
from xgboost import plot_importance

In [19]:
# Cargando Datos
route = "content/"
soccer2021 = pd.read_excel(route + "soccer2020-2021_final.xlsx", sheet_name="LeagueTable")
soccer2022 = pd.read_excel(route + "soccer2022-2023_final.xlsx")
soccer2024 = pd.read_excel(route + "soccer2023-2024_final.xlsx")

datos = {"__2021__": soccer2021,
         "__2022__": soccer2022,
         "__2024__": soccer2024}

In [20]:
for nombre, dato in datos.items():
    print("Informacion sobre: " + nombre)
    dato.info()
    print("_"*50)
    print(" ")
    dato.isnull().sum()
    print("_"*50)
    print(" ")

Informacion sobre: __2021__
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Team               20 non-null     object
 1   Rank               20 non-null     int64
 2   Points             20 non-null     int64
 3   MP                 20 non-null     int64
 4   Wins               20 non-null     int64
 5   Ties               20 non-null     int64
 6   Losses             20 non-null     int64
 7   GF                 20 non-null     int64
 8   GA                 20 non-null     int64
 9   GD                 20 non-null     int64
 10  Clean Sheets       20 non-null     int64
 11  Home MP            20 non-null     int64
 12  Home Wins          20 non-null     int64
 13  Home Ties          20 non-null     int64
 14  Home Losses        20 non-null     int64
 15  Home GF            20 non-null     int64
 16  Home GA            20 non-null     int64
 17  Clean Sheets Home  20 non-null     int64
 18  Away MP            20 non-null     int64
 19  Away Wins          20 non-null     int64
 20  Away Ties          20 non-null     int64
 21  Away Losses        20 non-null     int64
 22  Away GF            20 non-null     int64
 23  Away GA            20 non-null     int64
 24  Clean Sheets Away  20 non-null     int64
 25  Update Time        20 non-null     object
dtypes: int64(24), object(2)
memory usage: 4.2+ KB
__________________________________________________

__________________________________________________

Informacion sobre: __2022__
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                4 non-null      object
 1   Premier League 2022-2023  22 non-null     object
 2   Unnamed: 2                0 non-null      float64
 3   Unnamed: 3                0 non-null      float64
 4   Unnamed: 4                0 non-null      float64
 5   Unnamed: 5                4 non-null      object
 6   Unnamed: 6                0 non-null      float64
 7   Updated on 7/30/2023      0 non-null      float64
dtypes: float64(5), object(3)
memory usage: 2.2+ KB
__________________________________________________

__________________________________________________

Informacion sobre: __2024__
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                3 non-null      object
 1   Premier League 2023-2024  21 non-null     object
 2   Unnamed: 2                0 non-null      float64
 3   Unnamed: 3                0 non-null      float64
 4   Unnamed: 4                0 non-null      float64
 5   Unnamed: 5                4 non-null      object
 6   Unnamed: 6                0 non-null      float64
 7   Updated on 6/10/2024      0 non-null      float64
dtypes: float64(5), object(3)
memory usage: 2.2+ KB
__________________________________________________

__________________________________________________

## Exploracion

In [ ]:
soccer2021.head(5)

,Team,Rank,Points,MP,Wins,Ties,Losses,GF,GA,GD,...,Home GA,Clean Sheets Home,Away MP,Away Wins,Away Ties,Away Losses,Away GF,Away GA,Clean Sheets Away,Update Time
0,Man City,1,93,38,29,6,3,99,26,73,...,9,5,19,14,4,1,41,11,3,2022-05-26T05:22:11Z
1,Liverpool,2,92,38,28,8,2,94,26,68,...,15,7,19,13,4,2,45,17,1,2022-05-26T05:22:11Z
2,Chelsea,3,74,38,21,11,6,76,33,43,...,17,3,19,12,4,3,39,11,1,2022-05-26T05:22:11Z
3,Spurs,4,71,38,22,5,11,69,40,29,...,19,7,19,9,4,6,31,21,5,2022-05-26T05:22:11Z
4,Arsenal,5,69,38,22,3,13,61,48,13,...,22,5,19,7,8,4,23,21,3,2022-05-26T05:22:11Z